node_modules
build
dist
.DS_Store
.env
.env.local
android/app/build
android/.gradle
android/local.properties
ios/App/App/public
*.log

# Security
android/fastlane/fastlane_json_key.json
service-account.json
